{% extends '_base.html' %}
{% block title %}Add Post{% endblock %}
{% block page_name %}
Add Post
{% endblock %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Add Post</h3>
    </div>
<form method="post"  enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        {{form.title}}
    </div>

      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <div class="input-group">
          <div class="custom-file">
            {{form.file}}
            <label class="custom-file-label" for="exampleInputFile"></label>
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Upload</span>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <input type="submit" value="Add Post" class="btn btn-primary" >
    </div>
</form>

{% endblock %}