{% extends '_base.html' %}
{% load widget_tweaks %}
{% block title %}Edit Post{% endblock %}
{% block page_name %}
Edit Post
{% endblock %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Edit Post</h3>
    </div>
<form method="post"  enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        {{form.title|add_class:"form-control"}}
    </div>
    <div class="card-footer">
      <input type="submit" value="Edit Post" class="btn btn-primary" >
    </div>
</form>

{% endblock %}