{% extends '_base.html' %}
{% load static %}
{% block title %}New Posts{% endblock %}

{% block page_name %}
New Post
{% endblock %}

    <!-- Main content -->
    {% block content %}

    <section class="content">
      <div class="container-fluid">

        <!-- Timelime example  -->
        <div class="row">
          <div class="col-md-12">
            <!-- The time line -->
            <div class="timeline">
              <!-- timeline time label -->
              <div class="time-label">
             
              </div>
              <!-- /.timeline-label -->
              <!-- timeline item -->
              <div>
                <i class="fas fa-envelope bg-blue"></i>
                <div class="timeline-item">
                  <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                  <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                  {% if request.user.TFA == True %}
                  <div class="timeline-body">
                    
                  </div>
                  {% else %}
                  <div class="timeline-body alert bg-danger">
                    For More Security Enable Your TFA(Two Factor Authentication)
                  </div>
                    {% endif %}


                </div>
              </div>
              <!-- END timeline item -->
              <!-- timeline item -->
              {% for post in posts %}
                <div>
                  <i class="fas fa-user bg-maroon"></i>
                  <div class="timeline-item ">
                    <span class="time"><i class="fas fa-clock"></i> {{post.created|timesince}}</span>
                    <h3 class="timeline-header ">
                    <a href="{%url 'accounts:profile' post.author %}">
                      {{post.author}}
                    </a>
                    shared a
                    {% if post.video %}
                     video
                    {% elif post.image %}
                      image
                    {% elif post.audio %}
                      audio 
                    {% else %}
                      text
                    {% endif %}                   
                    </h3>
                    <div class="timeline-body">
                        {% if post.video %}
                        <div class="embed-responsive embed-responsive-16by9">
                          <video  controls>
                            <source src="{{ post.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                          </video> 
                        </div>
                        {% elif post.image %}
                        <div class="embed-responsive embed-responsive-16by9">
                          <img class="embed-responsive-item" src="{{ post.image.url }}" allowfullscreen></img>
                        </div>
                        {% elif post.audio %}
                        <audio controls class="size">
                          <source src="{{post.audio.url}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                        </audio> 
                        {% endif %}
                      <div class="timeline-body">
                        <h2>
                        <div class="badge bg-white text-dark">
                          {{post.title}}
                        </h2>
                      </div>
                    </div>
                    <div class="timeline-footer">
                      {% if request.user == post.author %}
                      <a href="{% url 'home:edit-post' post.author.username post.slug post.pk %}" class="btn btn-primary btn-sm">Edit</a>
                      <a href="{% url 'home:delete-post' post.author.username post.slug post.pk %}" class="btn btn-danger btn-sm">Delete</a>
                      {% else %}
                      <a href="{% url 'home:report-post' post.author post.slug %}" class="btn btn-danger btn-sm">Report Post</a>
                      {% endif %}
                      <a href="{% url 'home:comment' post.author.username post.slug post.pk %}" class="btn btn-warning btn-sm">View comments</a>
                    </div>
                  </div> 
                </div>
              {% endfor %}
              <!-- END timeline item -->
              <div>
                <i class="fas fa-clock bg-gray"></i>
              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.timeline -->

    </section>
    {% endblock %}
    {% block link_js %}
      <script src="{% static 'home/dist/js/script.js' %}"></script>
    {% endblock link_js %}
    <!-- /.content -->
 