{% extends '_base.html' %}

{% block title %}Message{% endblock %}

{% block page_name %}
Messages
{% endblock %}

{% block content %}
<div class="col-md-3 col-sm-6 col-12">
    <div class="info-box bg-gradient-danger">
      <span class="info-box-icon"><i class="fas fa-comments"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Comments</span>
        <span class="info-box-number">41,410</span>

        <div class="progress">
          <div class="progress-bar" style="width: 70%"></div>
        </div>
        <span class="progress-description">
          70% Increase in 30 Days
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
{% endblock %}