{% extends '_base.html' %}

{% block title %}Message{% endblock %}

{% block page_name %}
Messages
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">POST</span>
        <span class="info-box-number">{{post_count}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">COMMENTS</span>
        <span class="info-box-number">{{comments.count}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">UPLOADS</span>
        <span class="info-box-number">{{uploaded_file_count}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Likes</span>
        <span class="info-box-number">93,139</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>
<div class="col-md-12">
  <div class="card card-primary shadow-none">
    <div class="card-header">
      <h3 class="card-title">New Comments</h3>
      
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Fixed Header Table</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap">
              <thead>
                <tr>
                  <th>user</th>
                  <th>post</th>
                  <th>comments</th>
                  <th>time</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for cm in comments %}
                <tr>
                  <td>{{cm.from_user}}</td>
                  <td>{{cm.post.title|truncatewords:4}}</td>
                  <td>{{cm.comment}}</td>
                  <td>{{cm.created|timesince}} ago</td>
                  <td>
                      {% if cm.status == 'A' %}
                        <span class="fas fa-check"></span>
                      {% elif cm.status == 'i' %}
                        <span class="fas fa-exclamation"></span>
                        <a href="{% url 'home:accept-comment' cm.pk %}" class="badge bg-success">Accept</a>
                      {% endif %}

                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
{% endblock %}