{% extends 'accounts/_base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Social</b>MEDIA</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Change Your Password</p>
  
        <form method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
              
            {{form.old_password.label}}<br>
            {{form.old_password|add_class:'form-control' }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
              
           {{form.new_password1.label}} 
            {{form.new_password1|add_class:'form-control' }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
              
            {{form.new_password2.label}}<br>
            {{form.new_password2|add_class:'form-control' }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
            </div>
            <!-- /.col -->
            <div class="col-4">
            <input type="submit" value="Send" class="btn btn-primary btn-block">
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
{% endblock %}