{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Registration Page</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{% static 'home/plugins/fontawesome-free/css/all.min.css'%}">
  <link rel="stylesheet" href="{% static 'home/dist/css/adminlte.min.css' %}">





</head>
<body class="hold-transition register-page">

  {% if form.errors %}
  {% for field in form %}
      {% for error in field.errors %}
          <div class="alert alert-danger text-center mt-3">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
      <div class="alert alert-danger text-center mt-3">
          <strong>{{ error|escape }}</strong>
      </div>
  {% endfor %}
  {% endif %}
  

    {% block content %}
    {% endblock %}

    <!-- jQuery -->
<script src="{% static 'home/plugins/jquery/jquery.min.js'%}"></script>
<script src="{% static 'home/dist/js/adminlte.min.js'%}"></script>
</body>
</html>