{% extends '_base.html' %}

{% block content %}


<div class="col-md-12 style-profile ">

    <!-- Profile Image -->
    <div class="card card-primary card-outline col-md-6">
      <div class="card-body box-profile">
        <div class="widget-user-image">
          {% if user.profile_img %}
          <img class="img-circle elevation-2" src="{{ user.profile_img.url }}" alt="User Avatar">
          {% else %}
          
          {% endif %}
        </div>

        <h3 class="profile-username text-center"> {{user.username}}</h3>

        <p class="text-muted text-center">Software Engineer</p>

          <a href="{% url 'accounts:block' user.username %}">Block User</a>

        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <b>Followers</b> <a class="float-right">1,322</a>
          </li>
          <li class="list-group-item">
            <b>Following</b> <a class="float-right">543</a>
          </li>
          <li class="list-group-item">
            <b>Friends</b> <a class="float-right">13,287</a>
          </li>
        </ul>

        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <!-- About Me Box -->
    <div class="card card-primary col-md-6">
      <div class="card-header">
        <h3 class="card-title">About Me</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <strong><i class="fas fa-book mr-1"></i> Username</strong>

        <p class="text-muted">
         {{user.username}}
        </p><hr>
        <strong><i class="fas fa-book mr-1"></i> First Name</strong>

        <p class="text-muted">
         {{user.first_name}}
        </p><hr>
        <strong><i class="fas fa-book mr-1"></i> Last Name</strong>

        <p class="text-muted">
         {{user.last_name}}
        </p><hr>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
  {% endblock %}